html {
  font-size: 18px;
  font-family: "Helvetica",sans-serif;
  color: white;
}

/* Universal Styles */

.container {
  max-width: 960px;
  margin: 0 auto;
}


/* Logo */

.logo {
  width: 100%;
  background-color: black;
}

.logo .container {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  width: auto;
  padding: 0.66rem 1rem 0.66rem 0.5rem;
}

.logo span {
  font-size: 1rem;
}

/* Main Banner */

.main-banner .container {
  display: flex;
}

.main-banner {
  width: 100%;
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-size: cover;
}

.headlines {
  width: 20rem;
  margin-top: 3rem;
  padding: 2rem 3rem;
  background-color: black;
}

.headlines h4 {
  font-size: 1rem;
  font-weight: bold;
}

.headlines h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 0.25rem 0;
}


/* Navigation */

.navigation .container {
  display: flex;
  justify-content: space-between;
}

.navigation {
  background-color: firebrick;
  font-size: 1rem;
  padding: 0.75rem 0;
}

/* Product Grid */

.product-menu {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.image-content {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 4px solid black;

}

.product img {
  max-width: 9rem;
  max-height: 9rem;
  margin: 2rem 0;
}


.product span {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 4px solid black;
  background-color: black;
  text-align: center;
}

/* Info */

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.info-block {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.info-details {
  padding: 1rem 0 1rem 2rem;
  background-color: black;
}

.hours {
  color: black;
}

.location {
  color: black;
}


/* Footer */

.footer .container {
  display: flex;
  align-items: center;
  height: 5rem;
}

.footer {
  background-color: black;
}


/* Media Queries */

@media only screen and (max-width: 960px) {
  .product {
    width: 47%;
  }
}
