/* Universal Styles */

html {
  font-size: 18px;
}

body {
  font-family: "Helvetica",sans-serif;
  color: white;
  line-height: 1.4;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}


/* Logo */

.logo {
  width: 100%;
  background-color: black;
}

.logo .container {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  width: auto;
  padding: 0.66rem 1rem 0.66rem 0.5rem;
}

.logo span {
  font-size: 1rem;
}

@media only screen and (max-width: 470px) {
  .logo .container {
    justify-content: center;
  }

  .logo img {
    padding: 1.5rem 0;
  }

  .logo span {
    display: none;
  }
}

/* Main Banner */


.main-banner {
  width: 100%;
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-size: cover;
}

.headlines {
  position: relative;
  top: 9rem;
  width: 20rem;
  padding: 2rem 3rem;
  background-color: black;
}

.headlines h1 {
  margin: 0.25rem 0;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.25rem;
}

@media only screen and (max-width: 470px) {
  .main-banner {
    height: 15rem;
  }

  .headlines {
    width: 100%;
    padding: 1rem 2rem;
    top: 10rem;
  }

  .headlines h4 {
    font-size: .77rem;
  }

  .headlines h1 {
    font-size: 1rem;
  }
}

/* Navigation */

nav {
  background-color: firebrick;
  font-size: 1rem;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
}

.mobile-navigation {
  display: none;
}

@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }

  .mobile-navigation {
    display: block;
    text-align: center;
  }
}

/* Product Grid */

.product-menu {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}

.product {
  width: 30%;
}

.image-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  border: 4px solid black;
  padding: 2rem 0;
}

.image-content img {
  max-width: 8rem;
}

.product span {
  display: block;
  padding: 0.5rem;
  border: 4px solid black;
  background-color: black;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .product {
    width: 47%;
  }

  .glasses {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .product-menu {
    justify-content: center;
  }

  .pen {
    width: 90%;
  }

  .watch {
    display: none;
  }
}


/* Info */

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.info-block {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.info-details {
  padding: 1rem 0 1rem 2rem;
  background-color: black;
}

.hours {
  color: black;
}

.location {
  color: black;
}

@media only screen and (max-width: 470px) {
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info-block {
    width: 90%;
    margin: 0.5rem auto;
  }
}

/* Footer */

footer {
  padding: 5rem 0;
  margin-top: 4rem;
  background-color: black;
}

@media only screen and (max-width: 470px) {
  footer {
    text-align: center;
  }
}
